@model WorkshopExpert.Web.Models.AnalysisEditViewModel

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Workshop_Id, new { htmlAttributes = new { @class = "form-control" } })

            <div class="form-group">
                @Html.LabelFor(model => model.ProposedWorkshopTitle)
                @Html.TextBoxFor(model => model.ProposedWorkshopTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProposedWorkshopTitle, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DurationHours)
                @Html.EditorFor(model => model.DurationHours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DurationHours, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AttendeeProfile)
                @Html.TextAreaFor(model => model.AttendeeProfile, new { @class = "form-control", @rows = "3" })
                @Html.ValidationMessageFor(model => model.AttendeeProfile, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProblemToOvercome)
                @Html.TextAreaFor(model => model.ProblemToOvercome, new { @class = "form-control", @rows = "3" })
                @Html.ValidationMessageFor(model => model.ProblemToOvercome, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NeedToFulfill)
                @Html.TextAreaFor(model => model.NeedToFulfill, new { @class = "form-control", @rows = "3" })
                @Html.ValidationMessageFor(model => model.NeedToFulfill, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default">
            </div>

        }

    </div>
</div>

